<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " layout:decorate="layouts/defaultTemplate">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

<head>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #9CB2BC;
            color: black;
            text-align: center;
        }

        .inputForm {
            width: 300px;
            margin: 0 auto;
        }
    </style>
    <meta charset="UTF-8">
    <title>Add Product Page</title>

</head>
<body>

<div layout:fragment="content">
    <form class="inputForm" th:action="@{addProduct}" th:object="${productModel}" method="post">
        <input type="text" id="productName" name="productName" placeholder="Product Name" class="form-control form-control-lg"
               th:field="*{productName}"/>
        <h5 style="color: red" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></h5>
        <input type="text" id="productDescription" name="productDescription" placeholder="Description" class="form-control form-control-lg"
               th:field="*{productDescription}"/>
        <h5 style="color: red" th:if="${#fields.hasErrors('productDescription')}" th:errors="*{productDescription}"></h5>
        <input type="text" id="productPrice" name="productPrice" placeholder="Price"
               class="form-control form-control-lg" th:field="*{productPrice}"/>
        <h5 style="color: red" th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}"></h5>
        <input type="text" id="productQuantity" name="productQuantity" placeholder="Quantity" class="form-control form-control-lg"
               th:field="*{productQuantity}"/>
        <h5 style="color: red" th:if="${#fields.hasErrors('productQuantity')}" th:errors="*{productQuantity}"></h5>
        <button class="btn btn-primary" type="submit">Add Product</button>
    </form>
</div>


<div layout:fragment="footer" class="footer"></div>
</body>
</html>